{% extends 'base.html' %}

{% block title %}Admin{% endblock %}
{% block main_content_title %}Admin{% endblock %}

{% block side_nav_block %}
    <div class="col-sm-3 col-md-2 sidebar">
        <form>
            <ul class="nav nav-sidebar">
                {% for tab in tab_options %}
                    <li>
                        <a href="{{ url_for( 'DashboardView:admin_view_order', tab_order=tab['order']) }}" >{{ tab.label }}</a>
                        <div class="admin-nav-div">
                            <a href="" class="delete-tab igonre-pound-on-link" data-tab-id="{{ tab.value }}" onclick="return false">x</a>
                            <a href="" class="up-arrow igonre-pound-on-link" onclick="return false">&uarr;</a>
                            <a href="" class="down-arrow igonre-pound-on-link" onclick="return false">&darr;</a>
                            <input type="text" class="new-nav-item" hidden="hidden" value="{{ tab.value }}" />
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <hr />
            <input class="submit-nav btn btn-primary" value="Submit Nav" />
        </form>
    </div>
{% endblock %}

{% block main_content %}
    <input type='button' class="add-tab btn btn-outline-primary" value="+ New Tab" />
    <hr/>
    <form action="{{ url_for( 'DashboardView:admin_submit_tab') }}" method="POST">
        <div id="form-data">{{ rendered_tab|safe }}</div>
        <hr>
        <input class='btn btn-primary' type="submit" />
    </form>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).on('click', '.add-row', function(){
            var current_element = $(this);
            var url = "{{ url_for( 'DashboardView:admin_add_row') }}";
            var new_row_count = $('.admin-row-contents').length + 1;

            var post_data = {'row_id': new_row_count};
            $.post(url, post_data, function (data) {
                current_element.before(data);
            });
        });

        $(document).on('click', '.remove-row', function(){
            var current_element = $(this);
            current_element.siblings('.channel-row').last().remove();
        });

        // Todo: this could make use of the add-row POST request?
        $(document).on('click', '.add-tab', function(){
            var form_data_element = $('#form-data');
            form_data_element.html('');

            var url = "{{ url_for( 'DashboardView:admin_add_tab') }}";

            var new_row_count = $('.admin-row-contents').length + 1;
            var post_data = {'row_id': new_row_count};
            $.post(url, post_data, function (data) {
                form_data_element.append(data);
            });
        });

        $(document).on('click', '.add-channel', function(){
            var current_element = $(this);
            var url = "{{ url_for( 'DashboardView:admin_add_channel') }}";
            var new_channel_count = current_element.siblings('.admin-channel').length + 1;
            var current_row_count = current_element.closest('.admin-row-contents').data('row-counter');
            var current_column_count = current_element.closest('.admin-column-contents').data('column-counter');

            var column_format = current_element.closest('.channel-row').find('.choose-format').val();

            var post_data = {'new_channel_count': new_channel_count, 'current_row_count': current_row_count, 'current_column_count': current_column_count, 'column_format': column_format};
            $.post(url, post_data, function (data) {
                current_element.before(data);
            });
        });

        $(document).on('click', '.remove-channel', function(){
            var current_element = $(this);

            var current_row_count = current_element.closest('.admin-row-contents').data('row-counter');
            var current_column_count = current_element.closest('.admin-column-contents').data('column-counter');

            current_element.siblings('.admin-channel').last().remove();
        });

        $(document).on('change', '.choose-format', function() {
            var current_element = $(this);
            var url = "{{ url_for( 'DashboardView:admin_change_format') }}";
            var post_data = { 'selected_option': current_element.val()};

            $.post(url, post_data, function (data) {
                current_element.parent().parent().children('.admin-row-contents').html(data);
            });
        });

        $(document).on('click', '.up-arrow', function() {
            var current_element = $(this);
            current_element.closest('li').prev().insertAfter(current_element.closest('li'))
        });

        $(document).on('click', '.down-arrow', function() {
            var current_element = $(this);
            current_element.closest('li').next().insertBefore(current_element.closest('li'));
        });

        // Todo: make sure to know whether its a new or edited one
        $(document).on('click', '.submit-nav', function() {
            var order = 1;
            var return_array = [];
            $('.new-nav-item').each(function( index ) {
                element = $('.new-nav-item').get(index);
                return_array.push({'id': element.value, 'order': order});
                order++;
            });

            var url = "{{ url_for( 'DashboardView:admin_submit_nav') }}";
            var post_data = { 'nav_order': JSON.stringify(return_array) };

            $.post(url, post_data, function (data) {
                if( data == 'False') {
                    alert('There was an issue with changing the navigation order.');
                }
            });
        });

        $(document).on('click', '.delete-tab', function() {
            var current_element = $(this);
            var tab_id = current_element.data("tab-id");

            var url = "{{ url_for( 'DashboardView:admin_delete_tab') }}";
            var post_data = { 'tab_id': tab_id};

            $.post(url, post_data, function (data) {
                current_element.closest('li').remove();
            });
        });
    </script>
{% endblock %}
