{% extends 'base.html' %}

{% block title %}Admin{% endblock %}
{% block main_content_title %}Admin{% endblock %}

{% block main_content %}

    {{ tab_select | safe }}
    <button class="add-tab btn btn-outline-primary">+ New Tab</button>
    <hr>
    <div id="form-data"></div>
    <hr>
    <input class='btn btn-primary' type="submit" />

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).on('click', '.add-row', function(){
            var current_element = $(this);
            var url = '/admin/tool/add-row';
            var post_data = {};
            // Todo: need to pass over what the new id should be?
            $.post(url, post_data, function (data) {
                current_element.before(data);
            });
        });

        // Todo: this could make use of the add-row POST request?
        $('.add-tab').click(function () {
            var form_data_element = $('#form-data');
            form_data_element.html('');

            var url = '/admin/tool/add-row';
            var post_data = {};
            // Todo: need to pass over what the new id should be?
            $.post(url, post_data, function (data) {
                form_data_element.append(data);
                form_data_element.append($('<button>').addClass('add-row btn btn-outline-primary').html('+ Add Row'));
            });
        });

        $(document).on('click', '.add-channel', function(){
            var current_element = $(this);
            var url = '/admin/tool/add-channel';
            var post_data = {};
            // Todo: need to pass over what the new id should be?
            $.post(url, post_data, function (data) {
                current_element.before(data);
            });
        });

        $(document).on('change', '.choose-format', function() {
            var current_element = $(this);
            var url = '/admin/tool/change-format';
            var post_data = { 'selected_option': current_element.val() };

            // Todo: need to pass over what the new id should be?
            $.post(url, post_data, function (data) {
                current_element.parent().parent().children('.row-contents').html(data);
            });
        });

    </script>
{% endblock %}
