{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        <h1>{{ title }}</h1>
        <hr />

        {% for tab_row, tab_value in tab_results.iteritems() %}
            <div class="row">
                {% for col_key, col_value in tab_value.iteritems() %}
                    <div class="col-md-6">
                        {% for channel_key, channel_value in col_value.iteritems() %}
                            <div class="card" style="padding:1em; background-color:lightblue">
{#                            <div class="card col-md-{{ channel_value.size }}" style="padding:1em; background-color:lightblue">#}
                                <h5>{{ channel_value.name }}</h5>
                                size = {{ channel_value.size }}
                                {# get content here #}
                                {{ channel_value|render_channel|safe }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
